* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: "poppins";
  width: 100%;
  background-image: linear-gradient(rgb(255, 182, 193), rgb(233, 191, 255));
  background-size: cover;
}

/* ----------------------------------*/
/* ------------ HEADER -------------*/
header {
  width: 100%;
  height: 250px;
  background-color: #9c9b9b48;
}

header h1 {
  font-size: 5rem;
  color: white;
  line-height: 0.8;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 2rem;
  position: relative;
}

.login-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

#sign-up {
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  width: 80px;
  border: 1px solid white;
  color: white;
  outline: none;
  margin: 0;
  background-color: transparent;
}

#sign-up:hover {
  color: black;
  background-color: white;
}

.user-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-left: 3.5rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.login-container button {
  padding: 5px;
  border-radius: 10px;
  width: 80px;
  border: 1px solid white;
  outline: none;
  margin-top: 10px;
  cursor: pointer;
  color: white;
  background-color: transparent;
}

button:hover {
  color: black;
  background-color: white;
}

.login-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40px;
  right: 0;
  opacity: 0%;
  visibility: hidden;
  transition: all 0.5s ease-in;
}

.visible {
  top: 50px;
  right: 0px;
  visibility: visible;
  opacity: 100%;
}

input {
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
  border: none;
  outline: none;
}

@media (max-width: 900px) {
  header h1,
  footer h2 {
    font-size: 3rem;
  }
}

/* ----------------------------------*/
/* ------------ FOOTER  -------------*/

footer {
  width: 100%;
  height: auto;
  background-color: #9c9b9b48;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.footer-logo {
  margin-bottom: 1rem;
}

.footer-logo h2 {
  font-size: 5rem;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #9c9b9b48;
}

.footer-links a {
  margin: 1rem;
  color: black;
  text-decoration: none;
}
.footer-links p {
  margin: 1rem;
  color: rgb(100, 100, 100);
}

.footer-links a:hover {
  font-weight: 500;
}

/* ----------------------------------*/
/* --------- MAIN SECTION ------------*/

main {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;
  height: auto;
}

/* ----------------------------------*/
/* --------- USER SECTION -----------*/

#user-section {
  width: clamp(500px, 30%, 500px);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
  padding: 1rem;
}

.users-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 2.5rem;
}

/* user card*/
.user-card {
  display: grid;
  grid-template-columns: 75px 3fr;
  grid-template-rows: auto;

  width: 95%;
  height: auto;

  background-color: #ffffff84;
  padding: 1rem;
  border-radius: 20px;
  margin-bottom: 2rem;
  cursor: pointer;
}

/* grid item - 1 */ /* user data content */
.user-data {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  grid-column: 2/4;
  margin-left: 1rem;
}

/* grid item - 2 */
.more-info {
  width: 100%;
  grid-column: 1/4;
  grid-row: 3;
  align-self: flex-end;
}

/* grid item - 3 */
/* expand button */
.button-container {
  display: flex;
  justify-content: flex-end;
  grid-column: 3;
  grid-row: 4;
  align-self: flex-end;
  margin-top: 0.5rem;
}

.expand-btn {
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.242);
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  color: black;
}
.expand-btn:hover {
  border: 1px solid pink;
}

/* grid item - 4 */
/* Profile Image */
.img-container {
  margin-right: 1rem;
  grid-column: 1;
  grid-row: 1;
}

/* user card profile img */
.profile-img {
  background-color: beige;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: rgba(139, 135, 135, 0.532);
  font-weight: bold;
}

/* -------------------------------------*/
/* --------- POSTS SECTION ------------*/

#posts-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 70%;
}

/*  posts container */
.posts-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 100%;
}

/* post */
.post {
  display: flex;
  flex-direction: column;
  width: 45%;

  height: auto;
  background-color: #fff;
  margin: 0.5rem;
  padding: 1rem;
}

.post h3 {
  width: 90%;
}

.post_content {
  margin-top: 0.5rem;
  width: 90%;
}

.post-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.post-img {
  width: 100%;
}

/* heart button */
.interaction {
  cursor: pointer;
  width: 90%;
  margin-top: 0.5rem;
}

/* see all post button */
.see-all-posts {
  color: black;
  text-align: left;
  align-self: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

.see-all-posts:hover {
  font-weight: 500;
}

/* --------------------------------------*/
/* ----------- MEDIA QUERIES --------------*/

@media (max-width: 1090px) {
  /* user card*/
  .user-card {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  /* Posts */
  #posts-section {
    width: 100%;
    padding: 1rem;
  }

  .posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  main {
    flex-direction: column;
    width: 100%;
  }

  #user-section {
    flex-direction: row;
    flex-wrap: nowrap;
    border-style: none;
    width: 100%;
  }

  .users-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    overflow-y: scroll;
  }

  /* user card*/
  .user-card {
    grid-template-columns: 1fr;
    width: 400px;
    height: auto;
  }

  .button-container {
    margin-top: 1rem;
  }
}

@media (max-width: 700px) {
  .footer-links a {
    font-size: 14px;
    margin: 10px;
  }
  .footer-links p {
    font-size: 14px;
  }
}

@media (max-width: 1300px) {
  /* post */
  .post {
    width: 100%;
  }
}

/* ----------------------------------*/
/* ----------- UTILITIES--------------*/

/* hidden class */
.hidden {
  display: none;
}

/* active class */
.active {
  background-color: white;
}

/* hr border */
hr {
  border: 1px solid rgba(128, 128, 128, 0.242);
  width: 100%;
}

/* text */
h2 {
  color: rgba(255, 255, 255, 0.496);
  font-size: 58px;
  text-align: center;
  margin: 2rem 0 1rem 0;
}
